._class {
    height: 30px;
    width: 120px;
    color: #990036;
    border: none;
    background: transparent;
    outline: none;
    user-select: none;
    cursor: pointer;
}

.__class {
    padding: 10px 0;
}