
@import url(../../../cssVariables.css);
._class {
    outline: none;
    border: none;
    padding: 0 10px;
    border-radius: 10px;
    background: var(--container-color);
    color: var(--colot-text);
}