._class {
    height: 220px;
    width: 140px;
    margin: 5px;
    background: rgba(255, 255, 255, 0.226);
    backdrop-filter: blur(30px);
    border-radius: 10px;
    display: inline-block;
    cursor: pointer;
    transition: .5s;
    color: #ffffff;
}

._class:hover {
    background: #660074;
}

._class_p {
    position: absolute;
    top: 5px;
    right: 5px;

}

._class_s {
    position: absolute;
    bottom: 5px;
    right: 5px;
    padding: 5px;
}