._class {
    height: 220px;
    width: 140px;
    background: var(--container-color);
    border-radius: var(--border-radius);
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5px;
    justify-items: center;
    cursor: pointer;
    transition: .5s;
    color: var(--color-text);
}

._class:hover {
    background: var(--hover-color);
}

._class_button {
    grid-column: 1/3;
    grid-row: 3/3;
    align-self: end;
    padding: 5px;
}