._class {
    margin-top: 70px;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.__class {
    height: 70px;
    padding: 10px;
    border-radius: var(--border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--container-color);
    color: var(--color-text);
}